In [487]:
import numpy as np
import pandas as pd

In [488]:
filepath_train ='C:\\Users\\T0253VK\\Desktop\\HOME\\ForMS\\Information_Retreival_5810\\Assignment\\Assignment2\\Wheat_Data_Training.xlsx'
filepath_test ='C:\\Users\\T0253VK\\Desktop\\HOME\\ForMS\\Information_Retreival_5810\\Assignment\\Assignment2\\Wheat_Data_Test.xlsx' 
df = pd.read_excel(filepath_train)
df_t = pd.read_excel(filepath_test)

In [489]:
print(df.shape)
df.tail(5)

(96, 8)

    feat1  feat2   feat3  feat4  feat5  feat6  feat7  Class
91  12.15  13.45  0.8443  5.417  2.837  3.638  5.338      3
92  11.35  13.12  0.8291  5.176  2.668  4.337  5.132      3
93  11.24  13.00  0.8359  5.090  2.715  3.521  5.088      3
94  11.02  13.00  0.8189  5.325  2.701  6.735  5.163      3
95  11.55  13.10  0.8455  5.167  2.845  6.715  4.956      3

In [490]:
feature_names = list(df.columns.values[0:-1])
print("Features :",feature_names)
class_name = list(df.columns.values[-1:])
print("Class Name :",class_name)

Features : ['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6', 'feat7']
Class Name : ['Class']

In [491]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X = scalar.fit_transform(df[feature_names])
print(scalar.var_)

[8.50281181e+00 1.66414128e+00 6.54737969e-04 1.94002652e-01
 1.46788770e-01 2.31850111e+00 2.58160114e-01]

In [492]:
df_features = pd.DataFrame(X,columns=feature_names)
print(df.shape)
df_features.head(5)

(96, 8)

      feat1     feat2     feat3     feat4     feat5     feat6     feat7
0  0.104025  0.155521  0.128479  0.208164  0.151330 -0.976464 -0.452651
1 -0.026292 -0.053778  0.523198 -0.266342  0.206142 -1.766527 -0.972239
2 -0.228627 -0.425867  1.457235 -0.863449  0.216582 -0.662540 -1.230065
3 -0.382950 -0.542144  1.085965 -0.788527  0.326205 -0.951508 -1.269428
4  0.405813  0.271799  1.394705 -0.030224  0.803850 -1.545205 -0.541217

In [493]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1)
model.fit(df_features,df['Class'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [494]:
print(df_t.shape)
df_t.tail(5)

(3, 8)

   feat1  feat2   feat3  feat4  feat5  feat6  feat7 Class
0  13.20  13.66  0.8883  5.236  3.232  8.315  5.056     ?
1  16.23  15.18  0.8850  5.872  3.472  3.769  5.922     ?
2  12.73  13.75  0.8458  5.412  2.882  3.533  5.067     ?

In [495]:
df_t['Class'].replace('?',0, inplace=True,regex=False)
df_t.tail(5)

   feat1  feat2   feat3  feat4  feat5  feat6  feat7  Class
0  13.20  13.66  0.8883  5.236  3.232  8.315  5.056      0
1  16.23  15.18  0.8850  5.872  3.472  3.769  5.922      0
2  12.73  13.75  0.8458  5.412  2.882  3.533  5.067      0

In [496]:
Y = scalar.transform(df_t.loc[:,feature_names])
df_test = pd.DataFrame(Y,columns=feature_names)
df_test

      feat1     feat2     feat3     feat4     feat5     feat6     feat7
0 -0.602432 -0.759196  0.804581 -0.988319 -0.057476  3.025736 -0.775426
1  0.436678  0.419084  0.675614  0.455634  0.568943  0.040176  0.928981
2 -0.763614 -0.689429 -0.856364 -0.588735 -0.971004 -0.114815 -0.753776

In [497]:
predicted = model.predict(df_test)
print(predicted)

[3 2 3]

In [498]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(df_features,df['Class'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [499]:
predicted = model.predict(df_test)
print(predicted)

[3 2 3]

In [500]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(df_features,df['Class'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [501]:
predicted = model.predict(df_test)
print(predicted)

[3 2 3]

In [502]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(df_features,df['Class'])
predicted = model.predict(df_test)
print(predicted)

[3 2 3]